[access]
	inheritFrom = All-Projects
[project]
	state = active
[access "refs/heads/*"]
	push = +force group Mint Maintainers
	push = group Team Members
	forgeAuthor = group Mint Maintainers
	forgeAuthor = group Team Members
	forgeCommitter = group Mint Maintainers
	forgeCommitter = group Team Members
	pushMerge = group Mint Maintainers
	pushMerge = group Team Members
	create = group Mint Maintainers
