[access]
	inheritFrom = All-Projects
[project]
[access "refs/heads/*"]
	push = +force group Mint Maintainers
	push = group Sony Fusion3 Maintainers
	push = group Team Members
	create = group Mint Maintainers
	create = group Sony Fusion3 Maintainers
	submit = group Mint Maintainers
	submit = group Sony Fusion3 Maintainers
[access "refs/for/refs/heads/android-5.0"]
	pushMerge = group Mint Maintainers
	pushMerge = group Sony Fusion3 Maintainers
